# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# PyCharm
.idea/

# Scraper test files
module_2/test_page.html
module_2/test_applicant_data.json
scrape_progress.txtmodule_2/llm_hosting/models/

# Pytest
.pytest_cache/
.coverage
.coverage
__pycache__/
.pytest_cache/
